asgiref==3.8.1 ; python_version >= "3.12" and python_version < "3.13"
django-extensions==3.2.3 ; python_version >= "3.12" and python_version < "3.13"
django-health-check==3.18.2 ; python_version >= "3.12" and python_version < "3.13"
django-prometheus==2.3.1 ; python_version >= "3.12" and python_version < "3.13"
django-redis==5.4.0 ; python_version >= "3.12" and python_version < "3.13"
django==5.0.6 ; python_version >= "3.12" and python_version < "3.13"
prometheus-client==0.20.0 ; python_version >= "3.12" and python_version < "3.13"
psutil==5.9.8 ; python_version >= "3.12" and python_version < "3.13"
psycopg==3.1.19 ; python_version >= "3.12" and python_version < "3.13"
redis==5.0.4 ; python_version >= "3.12" and python_version < "3.13"
sqlparse==0.5.0 ; python_version >= "3.12" and python_version < "3.13"
typing-extensions==4.12.0 ; python_version >= "3.12" and python_version < "3.13"
tzdata==2024.1 ; python_version >= "3.12" and python_version < "3.13"
uwsgi==2.0.25.1 ; python_version >= "3.12" and python_version < "3.13"
